body {
    width: 100%;
    height: 100%;
    background-color: rgb(90, 12, 5);

}

main {
    // overflow: auto;
    height: calc(100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container::-webkit-scrollbar {
  width: 5px;            
}
.box-container::-webkit-scrollbar-track {
  background: transparent;       
}
.box-container::-webkit-scrollbar-thumb {
  background-color: rgb(235, 235, 235);    
  border-radius: 20px;     
  border: 3px solid transparent;  
}

.box-container {
    padding: 60px;
    margin: 50px;
    height: 60vh;
    position: relative;
    white-space: nowrap;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    transition: all 0.4s;
    perspective: 300px;
    border: 0px solid transparent;
    &.active {
        cursor: grabbing;
        border: 1px solid rgb(204, 204, 204);
        transform: scale(1.02);
        background-color: rgba(255, 255, 255, 0.096);
        
    }
    .box {
        display: inline-flex;
        border-radius: 30px;
        border: 10px solid rgb(231, 231, 231);
        justify-content: center;
        align-items: center;
        align-self: center;
        width: calc(100% / 4);
        min-width: 200px;
        height: calc(100% - 60px);
        // margin: 10px;
        transform: scale(0.98) rotateY(10deg);
        background-color: #fff;
        transition: all 0.3s;
        &:nth-child(even){
            transform: scale(0.98) rotateY(-10deg);
            &:hover{
                // transform: scale(1);
            }
        }
        &:hover {
            // transform: scale(1);
            z-index: 2;
            
        }
    }
}